
     
    

.my-card{
    background: linear-gradient(to right, #f4ececbd, #e4c2c2c4),
    url(https://mindfulnesshelper.files.wordpress.com/2015/12/newsletter-4.png);
  background-size: cover;
   border-radius: 10px;
   box-sizing: border-box;
  
}